html, body {
    height: 100%;
    width: 100%;
      background-color: #121212;
      margin: 0;
    padding: 0;
  }
  td{
    border: 1px dotted darkblue;
  }
  #tab {
    width: 120px;
    background-color: #B6B6B6;
      color: #EDEDED;
      transition-duration: 0.1s;
  }
  #tab:hover {
    background-color: #242424;
    color: white;
  }
  #functions {
      position: relative;
    list-style-type: none;
    right: -70px;
    top: 200px;
  }
  #files {
      position: relative;
    list-style-type: none;
    right: 50px;
    top: -64px;
  }
  #line {
      max-width: 1px;
      border-left: 1px solid #000049;
    height: 838px;
    position: relative;
    right: -110px;
    top: -282px;
  }
  #line2 {
      max-width: 1px;
      border-left: 1px solid #000049;
    height: 868px;
    position: relative;
    right: -230px;
    top: -1152px;
  }
  #input {
    position: relative;
  right: -230px;
  top: -2030px;
}
  #inwave {
        position: relative;
    right: -232px;
    top: -1580px;
  }
  #outwave {
        position: relative;
    right: -232px;
    top: -1630px;
  }
  #filepicker {
          position: relative;
    right: -332px;
    top: -1930px;
     top:110; 
    left:110;
  }
  #functionpicker {
            position: relative;
    right: -332px;
    top: -1725px;
     top:110; 
    left:110;
  }
  #filer {
              position: relative;
    right: -332px;
    top: -1685px;
  }
  label{
    background-color: teal;
    display:block;
    width:200px;
  }
  #settings {
    position: relative;
  right: -1380px;
  top: -2310px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}