html, body {
    height: 100%;
    width: 100%;
      background-color: #121212;
      margin: 0;
    padding: 0;
  }
  td{
    border: 1px dotted darkblue;
  }
  #tab {
    width: 120px;
    background-color: #B6B6B6;
      color: #EDEDED;
      transition-duration: 0.1s;
  }
  #tab:hover {
    background-color: #242424;
    color: white;
  }

  #functions {
    list-style-type: none;
    margin: -100px;
    margin-left: -6px;
    margin-top: -220px;
    border-style: solid;
    border-radius: 2px;
    border-color: #000049;
    display:inline-table;
    width: 100px;
  }
  #files {
    list-style-type: none;
    display:inline-table;
    border-style: solid;
    border-radius: 2px;
    border-color: #000049;
    margin-left: -40px;
    width: 120px;
  }
  #input {
    position:absolute;
    right: 932px;
    top: 338px;
  border: 2px solid #007B99;
  border-radius: 4px;
}
  #inwave {
    display:absolute;
  left: 220px;
    top: -214px;
    top: -200px;
    width:fit-content;
  }
  #outwave {
    display:absolute;
  left: 220px;
    top: -200px;
    width:fit-content;
  }
  #iocharts{
    position:absolute;
    right: -100px;
   left: 280px;
    top: 360px;
    width:1000px;
    display:table-caption;
  }
  #filepicker {
    position:absolute;
    right: -232px;
    top: 200px;
    left:510px;
  }
  #functionpicker {
    position:absolute;
    right: -232px;
    top: 200px;
    left:510px;
  }
  #filer {
    position:absolute;
    right: -232px;
    top: 100px;
    left:510px;
  }
  label{
    background-color: teal;
    display:block;
    width:200px;
  }
  #settings {
    position:absolute;
    right: 0px;
    top: 0px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#wholecontent{
  
}